*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#map{
    height: 20em;
    width: 30em;
    margin-left: auto;
    margin-right:auto;
}

#searchplace{
    width:25em;
}
#searchbox{
    text-align: center;
    padding:2em;
}
#SE,#NW{
    text-align: center;
}
#searchbutton{
    text-align:center;
    padding: 5px;
    width:8em;
    left:50%;
}
#btn{
    text-align: center;
    padding: 5px;
    width:8em;
}
#btn1{
    padding: 5px;
    width:8em;
    
}
#sticky-footer {
      flex-shrink: none;
      }
.navbar{
    height: 55px;
}
.navdiv{
    text-align: right;
}
.navbar-nav{
    margin-left:100%;
    font-size: 20px;
}
.nav-item{
    margin-right: 20px;
}

input{
    font-size: 14px;
    padding: 2px;
}
.container{
    height: 47px;
    width: 100%;
    margin-top: 15px;
}
.nav-link{
    
    font-size: 22px;
}
a img{
    margin-top:10px;
    }

h2{
    text-align: center;
}
/* #maincontent {
    padding-bottom: 170px;
    padding-left: 100px;
    padding-right: 100px;
} */
small {
    font-size: 0.75em;
}
#key {
    height: 60px;
    width: 600px;
    float: right;
    margin: 10px;
    padding-top: 0.5em;
    font-size:0.75em;

}
#color {

    background: linear-gradient(to right, #ff0000 0%, #f16818 25%,#ffff00 50%,#00ff00 75%, #082e08 100%);
    margin-top: 30px;
    height: 30px;
}
.title {
    padding:1em;
    font-size:1em;
}
.center {
    padding:1em;
    display:flex;
    justify-content: center;
}
.flexbox {
    display:flex;
    flex-wrap: wrap;
    padding-bottom:2em;
}
.map-half {
    padding:1em;
    margin-left:auto;
    margin-right:auto;
}
.search-half {
    padding:1em;
    margin-left:auto;
    margin-right:auto;
}