*{
    padding: 0;
    margin: 0;
}
#map{
    height: 500px;
    width: 100%;
}
h1{
    text-align: center;
}
#searchplace{
    width: 150px;
}
#searchbox,#SE,#NW{
    text-align: center;
}
#searchbutton{
    width: 120px;
}
#btn{
    text-align: center;
}
#btn1{
    padding: 5px;
}