*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#map{
    height: 600px;
    width: 55%;
    margin-left: 50px;
    float: left;
}

#searchplace{
    width: 200px;
}
#searchbox,#SE,#NW{
    text-align: center;
}
#searchbutton{
    width: 120px;
}
#btn{
    text-align: center;
}
#btn1{
    padding: 5px;
}
#sticky-footer {
      flex-shrink: none;
      }
.navbar{
    height: 55px;
}
.navdiv{
    text-align: right;
}
.navbar-nav{
    margin-left:100%;
    font-size: 20px;
}
.nav-item{
    margin-right: 20px;
}

input{
    font-size: 14px;
    padding: 2px;
}
.container{
    height: 47px;
    width: 100%;
    margin-top: 15px;
}
.nav-link{
    
    font-size: 22px;
}
a img{
    margin-top:10px;
    }

h2{
    text-align: center;
}
#maincontent {
    padding-bottom: 170px;
    padding-left: 100px;
    padding-right: 100px;
}
small {
    font-size: 120%;
}
#key {
    height: 60px;
    width: 600px;
    float: right;
    margin: 30px;
    padding-top: 20px;
}
#color {
    background: linear-gradient(to right, #0000ff 0%, #00ffff 25%, #00ff00 50%, #ffff00 75%, #ff0000 100%);
    margin-top: 30px;
    height: 30px;
    width: 600px;
}